@import url("jquery.fancybox.css?v=2.1.5");

.info {font-style:italic; font-size:12px; color:#0073e6}

.slider-header {
    text-align: center;
    font-size: 14px;
    margin-bottom: 20px;
}

.carousel-inner > .item > a > img, .carousel-inner > .item > img, .img-responsive, .thumbnail a > img, .thumbnail > img {
    display: block;
    max-width: 100%;
    height: auto;
  }


 .carintesta{
    height: auto;
}


.container_370 .btn-secondary:nth-of-type(1) {background-color: #05B100!important; color:#000;}
.container_370 .btn-secondary:nth-of-type(2) {background-color: #B325BD!important; color:#000; }

.container_440 .btn-secondary:nth-of-type(1) {background-color: #05B100!important; color:#000; font-size: 0.8rem;}
.container_440 .btn-secondary:nth-of-type(2) {background-color: #B325BD!important; color:#000; font-size: 0.8rem;}
.container_440 .btn-secondary:nth-of-type(3) {background-color: #6aa2ec!important; color:#000; font-size: 0.8rem;}
.container_440 .btn-secondary:nth-of-type(4) {background-color: #f2a462!important; color:#000; font-size: 0.8rem;}


.btn-secondary:nth-of-type(1).selected {background-color: #f7ca06!important; color:#920303!important; font-size: 0.8rem;}
.btn-secondary:nth-of-type(2).selected {background-color: #f7ca06!important; color:#920303!important; font-size: 0.8rem;}
.btn-secondary:nth-of-type(3).selected {background-color: #f7ca06!important; color:#920303!important; font-size: 0.8rem;}
.btn-secondary:nth-of-type(4).selected {background-color: #f7ca06!important; color:#920303!important; font-size: 0.8rem;}
.btn-secondary:nth-of-type(5).selected {background-color: #f7ca06!important; color:#920303!important; font-size: 0.8rem;}





.debug-container img {display:none;}

input[type=text]
{
display: inline-block;
-webkit-box-sizing: content-box;
-moz-box-sizing: content-box;
box-sizing: content-box;
float: none;
z-index: auto;
width: auto;
height: auto;
position: static;
cursor: default;
opacity: 1;
margin: 0;
padding: 10px 20px;
overflow: visible;
border: 1px solid #b7b7b7;
-webkit-border-radius: 3px;
border-radius: 3px;
-o-text-overflow: clip;
text-overflow: clip;
background: rgba(252,252,252,1);
-webkit-box-shadow: 2px 2px 2px 0 rgba(0,0,0,0.2) inset;
box-shadow: 2px 2px 2px 0 rgba(0,0,0,0.2) inset;
text-shadow: 1px 1px 0 rgba(255,255,255,0.66) ;
-webkit-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
-moz-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
-o-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
-webkit-transform: none;
transform: none;
-webkit-transform-origin: 50% 50% 0;
transform-origin: 50% 50% 0;
}

textarea.form-control
{
display: inline-block;
-webkit-box-sizing: content-box;
-moz-box-sizing: content-box;
box-sizing: content-box;
float: none;
z-index: auto;
width: auto;
height: auto;
position: static;
cursor: default;
opacity: 1;
margin: 0;
padding: 10px 20px;
overflow: visible;
border: 1px solid #b7b7b7;
-webkit-border-radius: 3px;
border-radius: 3px;
-o-text-overflow: clip;
text-overflow: clip;
background: rgba(252,252,252,1);
-webkit-box-shadow: 2px 2px 2px 0 rgba(0,0,0,0.2) inset;
box-shadow: 2px 2px 2px 0 rgba(0,0,0,0.2) inset;
text-shadow: 1px 1px 0 rgba(255,255,255,0.66) ;
-webkit-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
-moz-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
-o-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
-webkit-transform: none;
transform: none;
-webkit-transform-origin: 50% 50% 0;
transform-origin: 50% 50% 0;
}

#bnNext,#bnBack
{
display: inline-block;
-webkit-box-sizing: content-box;
-moz-box-sizing: content-box;
box-sizing: content-box;
float: none;
z-index: auto;
width: auto;
height: auto;
position: static;
cursor: default;
opacity: 1;
margin: 0.5em;
padding: 0 1.5em;
overflow: visible;
border: 1px solid rgba(211,211,211,1);
-webkit-border-radius: 0.2em;
border-radius: 0.2em;
font: normal normal bold 1em/2em Arial, Helvetica, sans-serif;
color: rgba(114,114,114,1);
-o-text-overflow: clip;
text-overflow: clip;
white-space: nowrap;
background: rgba(234,234,234,1);
-webkit-box-shadow: 0 0 1px 1px rgba(255,255,255,0.8) , 0 1px 0 0 rgba(0,0,0,0.298039) ;
box-shadow: 0 0 1px 1px rgba(255,255,255,0.8) , 0 1px 0 0 rgba(0,0,0,0.298039) ;
text-shadow: 0 1px 0 rgba(255,255,255,0.8) ;
-webkit-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1) 10ms;
-moz-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1) 10ms;
-o-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1) 10ms;
transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1) 10ms;
-webkit-transform: none;
transform: none;
-webkit-transform-origin: 50% 50% 0;
transform-origin: 50% 50% 0;
}

#bnNext:hover, #bnBack:hover
{
display: inline-block;
-webkit-box-sizing: content-box;
-moz-box-sizing: content-box;
box-sizing: content-box;
float: none;
z-index: auto;
width: auto;
height: auto;
position: static;
cursor: pointer;
opacity: 1;
margin: 0.5em;
padding: 0 1.5em;
overflow: visible;
border: 1px solid rgba(178,178,178,1);
-webkit-border-radius: 0.2em;
border-radius: 0.2em;
font: normal normal bold 1em/2em Arial, Helvetica, sans-serif;
color: rgba(76,76,76,1);
-o-text-overflow: clip;
text-overflow: clip;
white-space: nowrap;
background: rgba(234,234,234,1);
-webkit-box-shadow: 0 0 1px 1px rgba(255,255,255,0.8) inset, 0 1px 0 0 rgba(0,0,0,0.298039) ;
box-shadow: 0 0 1px 1px rgba(255,255,255,0.8) inset, 0 1px 0 0 rgba(0,0,0,0.298039) ;
text-shadow: 0 1px 0 rgba(255,255,255,0.8) ;
-webkit-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1) 10ms;
-moz-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1) 10ms;
-o-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1) 10ms;
transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1) 10ms;
-webkit-transform: none;
transform: none;
-webkit-transform-origin: 50% 50% 0;
transform-origin: 50% 50% 0;
}


#bnNext:active, #bnBack:active
{
display: inline-block;
-webkit-box-sizing: content-box;
-moz-box-sizing: content-box;
box-sizing: content-box;
float: none;
z-index: auto;
width: auto;
height: auto;
position: relative;
cursor: default;
opacity: 1;
top: 1px;
margin: 0.5em;
padding: 0 1.5em;
overflow: visible;
border: 1px solid rgba(211,211,211,1);
-webkit-border-radius: 0.2em;
border-radius: 0.2em;
font: normal normal bold 1em/2em Arial, Helvetica, sans-serif;
color: rgba(114,114,114,1);
-o-text-overflow: clip;
text-overflow: clip;
white-space: nowrap;
background: rgba(247,247,247,1);
-webkit-box-shadow: 0 0 1px 1px rgba(255,255,255,0.8) inset, 0 1px 0 0 rgba(0,0,0,0.298039) inset;
box-shadow: 0 0 1px 1px rgba(255,255,255,0.8) inset, 0 1px 0 0 rgba(0,0,0,0.298039) inset;
text-shadow: 0 1px 0 rgba(255,255,255,0.8) ;
-webkit-transition: none;
-moz-transition: none;
-o-transition: none;
transition: none;
-webkit-transform: none;
transform: none;
-webkit-transform-origin: 50% 50% 0;
transform-origin: 50% 50% 0;
}

div#title {
    border-bottom:  1px solid rgba(0,0,0,0.3);
    font-size: 16px;
   }

#logo { display:none;}

.container-component { border:1px dotted; padding:30px;}

.container_120  .checkbox label  {border: 1px solid rgb(219, 219, 219); padding: 1%; }
.container_130  .radio label  {border: 1px solid rgb(219, 219, 219)!important; padding: 1%!important; }
.container_500  .radio label  {border: 1px solid rgb(219, 219, 219)!important; padding: 1%!important; }
.container_520  .radio label  {border: 1px solid rgb(219, 219, 219)!important; padding: 1%!important; }


table img{
    min-width: -webkit-fill-available !important;
    min-height:  -webkit-fill-available !important;
    }